services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ${HOST_LOG_PATH}:/app/auth.log:ro
      - siem_db:/app/data
      - ./frontend:/app/frontend

volumes:

  siem_db:



