services:
  backend:
    build: ./backend
    ports:
      - "127.0.0.1:5000:5000"
    env_file:
      - .env
    volumes:
      - ${LOG_FILE_PATH}:/app/auth.log:ro
      - siem_db:/app/data

volumes:

  siem_db:
